<div *ngIf = "!isLoggedIn">
  <div class = container>
    <!--<div class = "row">
      <div class = "col-md-2"></div>
      <div class = "col-md-3">
        Email or Phone
      </div>
      <div class = "col-md-3">
        Password
      </div>
    </div>-->

    <div class = "row">
      <div class = "col-md-3"></div>
      <div class = "col-md-3">
        EmailID:   <input [(ngModel)] = "userID" type = "text"/>
      </div>
      <div class = "col-md-3">
        Password:   <input [(ngModel)] = "pass" type = "password"/>
      </div>
      <div class = "col-md-3"></div>
    </div>
    <br>
    <div class = "row">
      <div class = "col-md-5"></div>
      <div class = "col-md-2">
        <button style="align-self: center;" (click)="handleLogin()">Login</button>
      </div>
      <div class = "col-md-5"></div>
    </div>
    <br>
    <div class = "row">
      <div class = "col-md-5"></div>
      <div class = "col-md-2">
        <button style="align-self: center;"  (click)="handleSignUp()">SignUp</button>
      </div>
      <div class = "col-md-5"></div>
    </div>
  </div>
</div>

<div *ngIf = "displayErr">
  <div class = "row">
    <div class = "col-md-5"></div>
    <div class = "col-md-2">
      SignIn Error {{error}}
    </div>
    <div class = "col-md-5"></div>
  </div>
</div>