<div *ngIf = "!isLoggedIn">
  <div class = container>
    <!--<div class = "row">
      <div class = "col-md-2"></div>
      <div class = "col-md-3">
        Email or Phone
      </div>
      <div class = "col-md-3">
        Password
      </div>
    </div>-->

    <div class = "row">
      <div class = "col-md-3"></div>
      <div class = "col-md-3">
        EmailID:   <input [(ngModel)] = "userID" type = "text"/>
      </div>
      <div class = "col-md-3">
        Password:   <input [(ngModel)] = "pass" type = "password"/>
      </div>
      <div class = "col-md-3"></div>
    </div>
    <br>
    <div class = "row">
      <div class = "col-md-5"></div>
      <div class = "col-md-2">
        <button style="align-self: center;" (click)="handleLogin()">Login</button>
      </div>
      <div class = "col-md-5"></div>
    </div>
    <br>
    <div class = "row">
      <div class = "col-md-5"></div>
      <div class = "col-md-2">
        <button style="align-self: center;"  (click)="handleSignUp()">SignUp</button>
      </div>
      <div class = "col-md-5"></div>
    </div>
  </div>
</div>

<div *ngIf = "displayErr">
  <div class = "row">
    <div class = "col-md-5"></div>
    <div class = "col-md-2">
      SignIn Error {{error}}
    </div>
    <div class = "col-md-5"></div>
  </div>
</div>

<!--<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=764977040337836";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>-->






<!--<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '764977040337836',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

console.log('fb is')
console.log(FB)
   FB.getLoginStatus(function(response) {
     console.log('checking login state')
  if (response.status === 'connected') {
    // the user is logged in and has authenticated your
    // app, and response.authResponse supplies
    // the user's ID, a valid access token, a signed
    // request, and the time the access token 
    // and signed request each expire
    var uid = response.authResponse.userID;
    var accessToken = response.authResponse.accessToken;
  } else if (response.status === 'not_authorized') {
    // the user is logged in to Facebook, 
    // but has not authenticated your app
  } else {
    // the user isn't logged in to Facebook.
  }
 });

   FB.login(function(response){
     console.log('response')
     console.log(response)
  // Handle the response object, like in statusChangeCallback() in our demo
  // code.
});
</script>-->



<!--<input id="loginButton" type="button" value="Login!" (click)="onLoginStatus()" />-->
<!-- Load the Facebook JavaScript SDK -->
    
    <!--<input id="loginButton" type="button" value="Login!" onclick="authUser();" />
    
    <script type="text/javascript">
      
      // Initialize the Facebook JavaScript SDK
      FB.init({
        appId: '764977040337836',
        xfbml: true,
        status: true,
        cookie: true,
      });
      
      // Check if the current user is logged in and has authorized the app
      FB.getLoginStatus(checkLoginStatus);
      
      // Login in the current user via Facebook and ask for email permission
      function authUser() {
        FB.login(checkLoginStatus, {scope:'email'});
      }
      
      // Check the result of the user status and display login button if necessary
      function checkLoginStatus(response) {
        if(response && response.status == 'connected') {
          alert('User is authorized');
          
          // Hide the login button
          document.getElementById('loginButton').style.display = 'none';
          
          // Now Personalize the User Experience
          console.log('Access Token: ' + response.authResponse.accessToken);
        } else {
          alert('User is not authorized');
          
          // Display the login button
          document.getElementById('loginButton').style.display = 'block';
        }
      }
    </script>-->









<!--<div *ngIf = "!isLoggedIn">
  <button class="btn btn-md" style="align-self: center; font-size: 1.5em;" (click)="handleLogin()">
    Sign in
  </button>
  <div *ngIf = "signInPopUp">
    <div class="container">
  <h2>Basic Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <!--<div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
  </div>
  <button class="btn btn-md" style="align-self: center; font-size: 1.5em;" (click)="handleSignUp()">
    Sign Up
  </button>
</div>-->
<!--<div *ngIf = "isLoggedIn">
  <button (click) = "onLogout()"> logout </button> 
</div>-->