<div class = "container">
  <div class = "row">
    <div class = "col-md-11"></div>
    <div class = "col-md-1">
      <button (click) = "onLogout()"> logout </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      First Name: {{user.fName}}
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      Last Name: {{user.lName}}
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      Email Id: {{user.emailID}}
    </div>
    <div class="col-md-4"></div>
  </div>

  <!--<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      Password: {{user.pass}}
    </div>
    <div class="col-md-4"></div>
  </div>-->

  <!--<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      Confirm Password: <input [(ngModel)] = "confPass" type = "password"/>
    </div>
    <div class="col-md-4"></div>
  </div>-->

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      Mobile No: {{user.mobileNo}}
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      Gender: {{user.gender}}
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      Age: {{user.age}}
    </div>
    <div class="col-md-4"></div>
  </div>
</div>